@layer init {
    :host(:hover) .circle {
        height: 100px;
        width:  100px;
    }

    .circle {
        background: #cf2b7a;
        border-radius: 100%;
        cursor: pointer;
        grid-area: 1 / 1 / 1 / 1;
        height: 1px;
        margin: auto;
        transition: all 0.3s ease-in-out;
        width:  1px;
    }

    .image {
        cursor: pointer;
        display: block;
        grid-area: 1 / 1 / 1 / 1;
        height: 100px;
        margin: auto;
        width:  100px;
    }

    .root {
        display: grid;
        height: 100px;
        margin: auto;
        width:  100px;
    }
}
