@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host([_animation]) {
        & .circle {
            animation: animation__circle 1.7s ease;
        }

        & .image {
            animation: animation__image 1.7s ease;
        }
    }

    .circle {
        border: 15px solid #cf2b7a;
        border-radius: 100%;
        cursor: pointer;
        grid-area: 1 / 1 / 1 / 1;
        height: 150px;
        width: 150px;
        margin: auto;
    }

    .image {
        cursor: pointer;
        display: block;
        grid-area: 1 / 1 / 1 / 1;
        margin: auto;
        width:  100px;
    }

    .root {
        display: grid;
        margin: auto;
    }

    @keyframes animation__circle {
        25% {
            border: 5px solid #cf2b7a;
            height: 150px;
            width: 150px;
        }

        50% {
            border: 15px solid #cf2b7a;
            height: 150px;
            width: 150px;
        }

        75% {
            border: 5px solid #cf2b7a;
            height: 150px;
            width: 150px;
        }

        100% {
            width: 1px;
            height: 1px;
        }
    }

    @keyframes animation__image {
        25% {
            width: 120px;
        }

        50% {
            width: 100px;
        }

        75% {
            width: 125px;
        }

        100% {
            width: 1px;
        }
    }
}
