@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        display: block;
        height: 100dvh;
        width:  100dvw;
    }

    .buttonCalculate {
        justify-self: center;
    }

    .label {
        background: var(--Theme__block__background_accent);
        font-size: 26px;
        height: fit-content;
        text-align: center;
    }

    .root {
        align-content: start;
        align-items: center;
        display: grid;
        grid-gap: 10dvh;
        grid-template-rows: auto 1fr 3fr 1fr;
    }

    x-edit {
        text-align: center;
    }
}
