@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        display: inline-block;
    }

    :host([_animation]) {
        .circle {
            animation: animation__circle 1.7s ease;
        }

        & .image {
            animation: animation__image 1.7s ease;
        }
    }

    .circle {
        aspect-ratio: 1;
        border: 15px solid var(--Theme__block__background_accent);
        border-radius: 100%;
        grid-area: 1 / 1;
        height: var(--Theme__diameter_circle);
    }

    .image {
        grid-area: 1 / 1;
        width:  100px;
    }

    .root {
        align-items: center;
        display: inline-grid;
        justify-items: center;
    }


    @keyframes animation__circle {
        25% {
            border-size: 5px;
        }

        50% {
            border-size: 15px;
        }

        75% {
            border-size: 5px;
            height: var(--Theme__diameter_circle);
        }

        100% {
            height: 1px;
        }
    }

    @keyframes animation__image {
        25% {
            width: 120px;
        }

        50% {
            width: 100px;
        }

        75% {
            width: 125px;
        }

        100% {
            width: 1px;
        }
    }
}
