@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        cursor: pointer;
        width: fit-content;
    }

    :host([_animation]) {
        .image {
            animation: animation__image 1s ease-in-out;
        }
    }

    .image {
        width:  125px;
    }

    .root {
        align-items: center;
        display: grid;
        justify-items: center;
    }

    @keyframes animation__image {
        to {
            transform: rotate(720deg);
            width: 10px;
        }
    }
}
