@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host([_animation]) {
        .image {
            animation: animation__image 1s ease-in-out;
        }
    }

    .image {
        cursor: pointer;
        display: block;
        grid-area: 1 / 1 / 1 / 1;
        margin: auto;
        width:  125px;
    }

    .root {
        display: grid;
        margin: auto;
    }

    @keyframes animation__image {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(720deg);
            width: 10px;
        }
    }
}
