@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :hosr {
        display: inline-block;
    }

    .root {
        display: contents;
    }

    .input {
        background: var(--Theme__block__background_light);
        border-radius: 12px;
        color: var(--Theme__foreground);
        font: var(--Theme__font);
        height: 40px;
        text-align: center;
        width: 55dvw;
    }
}
