@layer init;

@import '../../Theme/Theme.css' layer(theme);

@layer init {
    :host {
        --PesultPage__gap: 8px;

        display: block;
    }


    .button__back {
        background: var(--Theme__block__background_accent);
        border-radius: 20px;
        cursor: pointer;
        display: inline-grid;
        margin: 10px;
        padding: var(--Theme__block__gap);

        &:hover {
            background: var(--Theme__button__foreground);
        }
    }

    .display {
        --Flickable__scrollBar__width: var(--PesultPage__gap);
        overflow: hidden;

        &::part(content) {
            align-content: end;
            display: grid;
            gap: var(--PesultPage__gap);
            grid-template-columns: 100%;
            justify-content: center;
            justify-items: center;
            min-height: 100%;
            padding: var(--PesultPage__gap);
            padding-right: calc(var(--PesultPage__gap) * 2);
        }
    }

    .repeater {
        display: contents;
    }

    .root {
        height: 100%;
    }
}


