@layer init {
    :not(:defined) {
        display: none;
    }

    :root {
        --Theme__accent_hue: 331;
        --Theme__background: hsl(var(--Theme__hue), 5%, 20%);
        --Theme__block__background: hsl(var(--Theme__hue), 0%, 82%);
        --Theme__block__background_accent: hsl(var(--Theme__accent_hue), 66%, 49%);
        --Theme__block__background_light: hsl(var(--Theme__hue), 13%, 57%);
        --Theme__block__gap: 8px;
        --Theme__button__background: hsl(var(--Theme__hue), 15%, 30%);
        --Theme__button__foreground: hsl(var(--Theme__hue), 10%, 60%);
        --Theme__button__foreground_light: hsl(var(--Theme__hue), 10%, 80%);
        --Theme__diameter_circle: 150px;
        --Theme__edge__width: 16px;
        --Theme__font: var(--Theme__font_size) / var(--Theme__font_lineHeight) var(--Theme__font_family);
        --Theme__font_family: 'Arial';
        --Theme__font_lineHeight: 2;
        --Theme__font_size: 20px;
        --Theme__foreground: #fff;
        --Theme__ghost_transition: opacity 0.6s ease-out;
        --Theme__hue: 200;
        --Theme__shadow: #0004;

        background: var(--Theme__background);
        color: var(--Theme__foreground);
        font: var(--Theme__font);
        overflow: hidden;
    }


    * {
        user-select: none !important;
    }

    body {
        margin: 0;
    }

    x-flickable {
        --Flickable__puck__margin_inner: 32px;
        box-sizing: border-box;
        height: calc(100dvh - 50px);
        padding: 5px;
        position: relative;
        width: 100dvw;

        &::after {
            background: linear-gradient(transparent, var(--Theme__shadow));
            content: '';
            height: var(--Theme__edge__width);
            inset: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: auto;
            transition: var(--Theme__ghost_transition);
            z-index: 1;
        }
        &[_scroll_y]:not([_scrollEdge_y_end])::after {
            opacity: 1;
        }

        &::before {
            background: linear-gradient(var(--Theme__shadow), transparent);
            bottom: auto;
            content: '';
            height: var(--Theme__edge__width);
            inset: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            transition: var(--Theme__ghost_transition);
            z-index: 1;
        }
        &[_scroll_y]:not([_scrollEdge_y_begin])::before {
            opacity: 1;
        }

        &::part(puck) {
            background: var(--Theme__block__background_light);
        }
    }

    .leafable {
        align-content: center;
        display: grid;
        height: 100dvh;
    }

    [_building] {
        visibility: hidden;
    }
}
