@font-face {
    font-family: 'mv-weekend';
    src: url('../../../Storage/Fonts/MV-WEEKEND.ttf');
}

@layer init {
    :host {
        height: 100dvh;
        width:  100dvw;
    }

    .button {
        height: 25dvh;
        width: 25dvh;
        margin-left: auto;
        margin-right: auto;
    }

    .input {
        background: #8485A0;
        border-radius: 12px;
        color: #FFFFFF;
        font-family: 'mv-weekend';
        font-size: 24px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 55dvw;
    }

    .label {
        background: #CF2B7A;
        color: #FFFFFF;
        font-family: 'mv-weekend';
        font-size: 36px;
        margin-top: -10px;
        text-align: center;
    }

    .root {
        display: grid;
        grid-gap: 15dvh;
        grid-template-rows: 5dvh 0dvh 20dvh 0dvh;
        height: inherit;
    }
}
