@font-face {
    font-family: 'mv-weekend';
    src: url('../../../Storage/Fonts/MV-WEEKEND.ttf');
}

@layer init {
    :host {
        display: block;
        height: 100dvh;
        width:  100dvw;
    }

    .button {
        /* aspect-ratio: 1; */
        height: 25dvh;
        justify-self: center;
    }

    .label {
        background: var(--Theme__block__background_accent);
        font-family: 'mv-weekend';
        font-size: 36px;
        height: fit-content;
        text-align: center;
    }

    .root {
        align-content: start;
        align-items: center;
        display: grid;
        grid-gap: 10dvh;
        grid-template-rows: auto 1fr 2fr 1fr;
    }

    x-edit {
        text-align: center;
    }
}
